//-----------Colors--------------//
$dark-blue: #3b5998;
$light-blue: #78c3c0;
$dark-grey: #666;
$light-grey: #e9ebee;
$white: #fff;

//-----------Mixins--------------//

@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  // Output standard non-prefixed declaration
  #{$property}: $value;
}

@mixin background-gradient($color1, $color2, $angle) {
  $prefixes: (moz webkit);
  $property: background;
  $value1: linear-gradient;
  $value2: ($angle, $color1 0%, $color2 100%);
  #{$property}: $color1;
  @each $prefix in $prefixes {
    #{$property}: #{'-' + $prefix + '-' + $value1 + '(' + $value2 + ');'};
  }
  // Output standard non-prefixed declaration
  #{$property}: #{$value1 + '(' + $value2 + ');'};
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=1 );
}


body {
  background-color: $light-grey;
}

.body-container {
  background-color: $white;
  height: 800px;
  z-index: 1;
}

.header {
  @include background-gradient($light-blue, $dark-blue, 45deg);
  height: 150px;
  width: 100%;

  &__container {
    height: 100%;
  }

  &__img-container {
    background-color: $white;
    border: 1px solid $dark-grey;
    border-radius: 105px;
    height: 210px;
    margin-top: 1em;
    padding: 4px;
    width: 210px;
    z-index: 10;
  }

  &__img {
    border-radius: 100px;
    height: 200px;
    width: 200px;
  }

  &__name {
    color: $white;
    font-size: 30px;
    padding: 0;
  }
}
